{{ if eq .osid "linux-arch" -}}
#!/bin/bash

set -e

# Install official repository packages with pacman
{{ if .packages.linux.pacman -}}
echo "Installing pacman packages..."
sudo pacman -S --needed --noconfirm \
{{ range .packages.linux.pacman -}}
  {{ . | quote }} \
{{ end -}}
  || true
{{ end -}}

# Install AUR packages with paru
{{ if .packages.linux.paru -}}
echo "Installing paru packages..."
paru -S --needed --noconfirm \
{{ range .packages.linux.paru -}}
  {{ . | quote }} \
{{ end -}}
  || true
{{ end -}}

echo "Package installation complete."
{{ end -}}
