#!/bin/bash
{{/* https://github.com/twpayne/chezmoi/issues/2680 */}}
{{ if eq .chezmoi.os "darwin" -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ else -}}
echo "Skipping Homebrew installation: not macOS"
{{ end -}}
