{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install --cask 1password 1password-cli
{{ end -}}
