[whitelist]
prefix = [
  "{{ .chezmoi.homeDir }}/Desktop/jaehong21",
  "{{ .chezmoi.homeDir }}/Desktop/channeltalk",
  "{{ .chezmoi.homeDir }}/Desktop/nari-labs",
  "{{ .chezmoi.homeDir }}/Desktop/atelier",
  "{{ .chezmoi.homeDir }}/Desktop/trax"
]
